.ibr{ 
    color: red;
}
.ahm{
    color: yellow;
}
.sh{
    color: green;
}
.sham{
    font-weight: 600;
    background-color: blue;
    color: antiquewhite;
}
.shamo{
    border: 0ch;
    width: fit-content;
    color: black;
    
}