*{
    margin: 0;
    padding: 0;
}
.main{
    width: 100%;
    background-image: (to top, rgba(0,0,0,0,5)50%,rgba(0,0,0,0,5)50%) url(gutech.jpg);
    background-position: center;
    background-image: url(gutech.jpg);
    background-size: cover;
    height: 100vh;
}
.navbar{
    width: 1200px;
    height: 75px;
    margin: auto;
}
.icon{
    color: orange;
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 20px;
    float: left;
    padding-top: 10px;
}
.menu{
    width: 400px;
    float: left;
    height: 70px;
}
.ul{
    float: left;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 14px;
}
ul li a{
    text-decoration: none;
    color: black;

}