
.speciality-menu {
    padding: 20px;
  }
  
  .menu-items {
    display: flex;
    gap: 20px;
    justify-content: space-between;
  }
  
  .menu-item {
    background-color: #f9f9f9;
    border-radius: 10px;
    padding: 20px;
    width: 30%;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .menu-item img {
    width: 100%;
    border-radius: 10px;
  }
  
  .menu-item-info {
    text-align: right;
    padding-top: 10px;
  }
  
  .menu-item-info h3 {
    font-size: 1.5rem;
    color: #d32f2f;
  }
  
  .menu-item-info p {
    font-size: 1rem;
    color: #555;
  }
  
  .add-to-cart-btn {
    display: flex;
    align-items: center;
    background-color: #d32f2f;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    margin-top: 10px;
    font-size: 1rem;
  }
  
  .add-to-cart-btn i {
    margin-right: 10px;
    font-size: 1.2rem;
  }
  
  .add-to-cart-btn:hover {
    background-color: #c62828;
  }
  
  .add-to-cart-btn:focus {
    outline: none;
  }
  