
.app-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start; 
    padding: 20px;
  }
  
  
  .user-data {
    width: 250px; 
    margin-right: 30px; 
    text-align: center;
    background-color: #f0f0f0;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  }
  

  .user-data img {
    width: 175px;
    height: 175px;
    border-radius: 50%;
    margin-bottom: 15px;
  }


  .role{
    color: #28a745;
    font-size: 1.5rem;
    transition: transform 0.3s ease;
    border-radius: 10px;
  }
  .role:hover{
    border: 4px solid yellowgreen;
  }

  .email{
    color: red;
    font-weight: 750;
    font-size: 1.2rem;
  }
  

  .other-components {
    display: flex;
    flex-direction: column;
    flex-grow: 1; 
    gap: 20px; 
  }
  
 
  .component-box {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  

.usr{
    display: flexbox;
    border: 0px solid black;
    margin-top: 10px;
    border-radius: 10px;
    justify-self: center;
    text-align: center;
    
}

.parent {
    display: flex;
    justify-content: flex-start;
    height: 95vh; 
}


.stats-container {
    width: 80%;
    margin: 20px auto;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  

  .stats-container h1 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #333;
  }
  

  .stat-item {
    font-size: 1.2rem;
    margin: 10px 0;
    color: #555;
  }
  

  .stat-percentage {
    font-size: 1.5rem;
    font-weight: bold;
    color: #28a745; 
  }
  

.bar-container {
    width: 100%;
    height: 30px;  
    background-color: #e0e0e0; 
    border-radius: 5px;
    margin-top: 20px;
    display: inline-block;
  }
  
  .active-users-bar {
    height: 100%;
    background-color: #28a745;  
    width: 50%; 
    border-radius: 5px;
  }



.messages-container {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  

  .messages-container h1 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 20px;
  }
  

  .message {
    font-size: 1.2rem;
    margin: 10px 0;
    color: #555;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
  }
  

  .message:hover {
    background-color: #e0ffe0;  
  }
  