body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 45px;
    background-color: #a6c3dd;
  }
  
  h1 {
    color: #333;
  }
  
  .task-container {
    margin-bottom: 40px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: white;
    border-radius: 20px;
  }
  
  .task-container h2 {
    color: #444;
    font-size: 24px;
  }
  
  .task-container p {
    font-size: 20px;
    color: #333;
    font-weight: bold;
  }
  

  #welcomeMessage {
    color: #4CAF50;
  }
  
  #additionResult {
    color: #FF6347;
  }
  
  #tempConversionResult {
    color: #1E90FF;
  }
  
  #ageResult {
    color: #32CD32;
  }
  
  #multiplicationResult {
    color: #FF4500;
  }
  
  #areaResult {
    color: #8A2BE2;
  }
  