/* App.css */
.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensure the content takes the full height of the screen */
}

.content {
  flex: 1; /* This will make the content take up the available space */
  padding-bottom: 50px; /* Add space at the bottom of the content before footer */
}

.speciality-menu {
  padding: 20px;
  margin-bottom: 30px; /* Add gap between menu and footer */
}
